In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#Hierarchical Indexing

In [ ]:
data=pd.Series(np.random.uniform(size=12),
               index=[["A","A","B","B","C","A","C","F","F","A","E","E"],
                      [9,6,7,5,4,7,3,4,2,1,3,4]])
data

A  9    0.680667
   6    0.453429
B  7    0.901023
   5    0.584810
C  4    0.027272
A  7    0.499671
C  3    0.097941
F  4    0.396322
   2    0.891420
A  1    0.937073
E  3    0.762153
   4    0.327406
dtype: float64

In [ ]:
data.index

MultiIndex([('A', 9),
            ('A', 6),
            ('B', 7),
            ('B', 5),
            ('C', 4),
            ('A', 7),
            ('C', 3),
            ('F', 4),
            ('F', 2),
            ('A', 1),
            ('E', 3),
            ('E', 4)],
           )

In [ ]:
data.values

array([0.77273768, 0.24409132, 0.60794281, 0.67948892, 0.84770324,
       0.25170437, 0.25088608, 0.00340331, 0.16238542, 0.028434  ,
       0.60519882, 0.30506631])

In [ ]:
data.dtype

dtype('float64')

In [ ]:
data["E"]

3    0.605199
4    0.305066
dtype: float64

In [ ]:
data["A"]

9    0.772738
6    0.244091
7    0.251704
1    0.028434
dtype: float64

In [ ]:
data[4]

0.8477032393535312

In [ ]:
data["B":"C"]

UnsortedIndexError: ignored

In [ ]:
data.loc[["B","E"]]

B  7    0.607943
   5    0.679489
E  3    0.605199
   4    0.305066
dtype: float64

In [ ]:
data.loc[["A","F"]]

A  9    0.772738
   6    0.244091
   7    0.251704
   1    0.028434
F  4    0.003403
   2    0.162385
dtype: float64

In [ ]:
#Get the value which is number 2 in index

In [ ]:
data.loc[:,2]

F    0.162385
dtype: float64

In [ ]:
#Get the value which is number 3 in index

In [ ]:
data.loc[:,3
         ]

C    0.250886
E    0.605199
dtype: float64

In [ ]:
# Data stacking and unstacking

In [ ]:
data.unstack()

,1,2,3,4,5,6,7,9
A,0.028434,NaN,NaN,NaN,NaN,0.244091,0.251704,0.772738
B,NaN,NaN,NaN,NaN,0.679489,NaN,0.607943,NaN
C,NaN,NaN,0.250886,0.847703,NaN,NaN,NaN,NaN
E,NaN,NaN,0.605199,0.305066,NaN,NaN,NaN,NaN
F,NaN,0.162385,NaN,0.003403,NaN,NaN,NaN,NaN

In [ ]:
data.unstack().stack()

A  1    0.028434
   6    0.244091
   7    0.251704
   9    0.772738
B  5    0.679489
   7    0.607943
C  3    0.250886
   4    0.847703
E  3    0.605199
   4    0.305066
F  2    0.162385
   4    0.003403
dtype: float64

In [ ]:
#Multiple columns and index

In [ ]:
data_frame=pd.DataFrame(np.arange(16).reshape((4,4)),
                        index=[["A","A","D","D"],[2,6,4,8]],
                        columns=[["Mirpur","Mirpur","Uttara","uttara"],["Modern","FOOD_F","Clean","VIP"]])
data_frame

    Mirpur        Uttara uttara
    Modern FOOD_F  Clean    VIP
A 2      0      1      2      3
  6      4      5      6      7
D 4      8      9     10     11
  8     12     13     14     15

In [ ]:
data_frame.index.names=["P1","P2"]

In [ ]:
data_frame

    Mirpur        Uttara uttara
    Modern FOOD_F  Clean    VIP
A 2      0      1      2      3
  6      4      5      6      7
D 4      8      9     10     11
  8     12     13     14     15

In [ ]:
data_frame.columns.names=["Area1","Area2"]

In [ ]:
data_frame

Area1 Mirpur        Uttara uttara
Area2 Modern FOOD_F  Clean    VIP
A 2        0      1      2      3
  6        4      5      6      7
D 4        8      9     10     11
  8       12     13     14     15

In [ ]:
data_frame.index.nlevels

2

In [ ]:
data_frame.columns.nlevels

2

In [ ]:
data_frame["Uttara"]

Area2  Clean
A 2        2
  6        6
D 4       10
  8       14

In [ ]:
#Swaping Index or columns

In [ ]:
data_frame.swaplevel("P1","P2")

Area1 Mirpur        Uttara uttara
Area2 Modern FOOD_F  Clean    VIP
P2 P1
2  A       0      1      2      3
6  A       4      5      6      7
4  D       8      9     10     11
8  D      12     13     14     15

#Summary Statistics by level

In [ ]:
data_frame.groupby(level="P1").mean()

Area1 Mirpur        Uttara uttara
Area2 Modern FOOD_F  Clean    VIP
P1
A        2.0    3.0    4.0    5.0
D       10.0   11.0   12.0   13.0

In [ ]:
data_frame.groupby(level="Area1",axis="columns").sum()

Area1  Mirpur  Uttara  uttara
P1 P2
A  2        1       2       3
   6        9       6       7
D  4       17      10      11
   8       25      14      15

In [ ]:
data_frame.groupby(level="Area2",axis="columns").sum()

Area2  Clean  FOOD_F  Modern  VIP
P1 P2
A  2       2       1       0    3
   6       6       5       4    7
D  4      10       9       8   11
   8      14      13      12   15

In [ ]:
frame_new=pd.DataFrame({"A":range(4),
                        "B":range(4,0,-1),
                        "C":["a","b","c","d"],
                        "D":[1,2,3,45]})
frame_new

   A  B  C   D
0  0  4  a   1
1  1  3  b   2
2  2  2  c   3
3  3  1  d  45

In [ ]:
frame_new1=frame_new.set_index(["C","D"])
frame_new1

      A  B
C D
a 1   0  4
b 2   1  3
c 3   2  2
d 45  3  1

In [ ]:
frame_new.set_index(["C","D"],drop=False)

      A  B  C   D
C D
a 1   0  4  a   1
b 2   1  3  b   2
c 3   2  2  c   3
d 45  3  1  d  45

In [ ]:
frame_new1.reset_index()

   C   D  A  B
0  a   1  0  4
1  b   2  1  3
2  c   3  2  2
3  d  45  3  1

Combining and Merging Datasets

In [ ]:
dataframe1=pd.DataFrame({"Key":["A","A","B","C","B","B","A","A","C"],
                         "data":pd.Series(range(9),dtype="Int64")})
dataframe1

  Key  data
0   A     0
1   A     1
2   B     2
3   C     3
4   B     4
5   B     5
6   A     6
7   A     7
8   C     8

In [ ]:
dataframe2=pd.DataFrame({"Key":["A","B","D"],
                         "data2":pd.Series(range(3),dtype=
                                           "Int64")})
dataframe2

  Key  data2
0   A      0
1   B      1
2   D      2

In [ ]:
pd.merge(dataframe1,dataframe2)

  Key  data  data2
0   A     0      0
1   A     1      0
2   A     6      0
3   A     7      0
4   B     2      1
5   B     4      1
6   B     5      1

In [ ]:
dataframe3=pd.DataFrame({"ikey":["A","A","B","C","B","B","A","A","C"],
                         "data1":pd.Series(range(9),dtype="Int64")})
dataframe3

  ikey  data1
0    A      0
1    A      1
2    B      2
3    C      3
4    B      4
5    B      5
6    A      6
7    A      7
8    C      8

In [ ]:
dataframe4=pd.DataFrame({"ktype":["A","B","D"],
                         "data2":pd.Series(range(3),dtype="Int64")})
dataframe4

  ktype  data2
0     A      0
1     B      1
2     D      2

In [ ]:

pd.merge(dataframe3,dataframe4)

MergeError: ignored

In [ ]:
 pd.merge(dataframe3,dataframe4,left_on="ikey", right_on="ktype")

  ikey  data1 ktype  data2
0    A      0     A      0
1    A      1     A      0
2    A      6     A      0
3    A      7     A      0
4    B      2     B      1
5    B      4     B      1
6    B      5     B      1

In [ ]:
 pd.merge(dataframe3, dataframe4, how="outer")

MergeError: ignored

In [ ]:
 pd.merge(dataframe3,dataframe4,on="ikey",how="left")

KeyError: ignored

In [ ]:
dataframe5=pd.DataFrame({"ttype":["A","B","D"],
                         "data2":pd.Series(range(3),dtype="Int64")})
dataframe5

  ttype  data2
0     A      0
1     B      1
2     D      2

In [ ]:
dataframe6=pd.DataFrame({"ykey":["A","A","B","C","B","B","A","A","C"],
                         "data1":pd.Series(range(9),dtype="Int64")})
dataframe6

  ykey  data1
0    A      0
1    A      1
2    B      2
3    C      3
4    B      4
5    B      5
6    A      6
7    A      7
8    C      8

In [ ]:
pd.merge(dataframe5,dataframe6)

MergeError: ignored

In [ ]:
pd.merge(dataframe5,dataframe6,how="inner")

MergeError: ignored