In [ ]:
#if else statements
x=88
y=88
if x > y:
  print("x is greater than y")
elif x == y:
  print("x and y both are equal")

x and y both are equal

# New Section

In [ ]:
x=66
y=99
z=100

if x>y or y<z:
 print(" at least one of them are true")

 at least one of them are true

In [ ]:
a=88
b=86
c=83
if a>b and b>c:
  print("Both condition are true")

Both condition are true

In [ ]:
a=22
b=33
if a>b:
  print("a is greater than b")

elif a==b:
  print("a and b equal")
else:
  print("b is greater than a")

b is greater than a

In [ ]:
x=66
y=88
print("y is greater than x") if x<y else print("x")

y is greater than x

In [ ]:
from ast import Yield
x=44
y=2
z=x/y
a=x%y
b=x//y
c=x-y
print(z)
print(a)
print(b)
print(c)

22.0
0
22
42

In [ ]:
x=88
y=77
z=66
print("x") if x<y else print("=") if x==y else print("z")

z

In [ ]:
if x>y:
  print("x is greater than y")

x is greater than y

In [ ]:
if y>40:
  print("above 40")
  if y>50:
    print("also above 50")
  else:
    print("not above 50")

above 40
also above 50

In [ ]:
if x>z:
  pass

In [ ]:
x = 10

x ^= 3

print(x)

9

In [ ]:
x = 8

x **= 3

print(x)

512

In [ ]:
x = 9
y=12

x//=3
y//=4
print(x)
print(y)

3
3

In [ ]:
a = 10
b=4
c=12
a%=4
c&=2
b-=2
print(b)
print(a)
print(c)

2
2
0

In [ ]:
#while statment
i= 3
while i<27:
  print(i)
  i+=3

3
6
9
12
15
18
21
24

In [ ]:
i=4
while i<32:
  print(i)
  if i==10:
    break
  i+=2

4
6
8
10

In [ ]:
i=8
while i<40:
  i+=8
  if i==24:
    continue
  print(i)

16
32
40

In [ ]:
j=10
while j<1000:
  j+=50
  if j==510:
    continue
  print(j)

60
110
160
210
260
310
360
410
460
560
610
660
710
760
810
860
910
960
1010

In [ ]:
a = 7
while a < 42:
  print(a)
  a += 7
else:
  print("a is no longer less than 42")

7
14
21
28
35
a is no longer less than 42

In [ ]:
course=["C","c++","JS","Python","HTML"]
for x in course:
  print(x)

C
c++
JS
Python
HTML

In [ ]:
courses=["C","C++","HTML","JS","Python"]
for x in courses:
  print(x)
  if x == "C++":
    break

C
C++

In [ ]:
courses=["C","C++","HTML","Python"]

for x in courses:
  print(x)
  if x == "C++":
    continue

C
C++
HTML
Python

In [ ]:
fruits = ["apple", "banana", "cherry"]
for a in "cherry":
  print(a)

c
h
e
r
r
y

In [ ]:
for x in range(7):
  print(x)

0
1
2
3
4
5
6

In [ ]:
for number in range(2,9):
  print(number)

2
3
4
5
6
7
8

In [ ]:
for n in range(2,9,2):
  print(n)

2
0
-2
-4
-6
-8

In [ ]:
for n in range(9,-9,-2):
  print(n)

9
7
5
3
1
-1
-3
-5
-7

In [ ]:
for value in range(3,9):
  if value==6:break
  print(value)
else:
  print("Finished")

3
4
5

In [ ]:
subjects=["Csc","EEE","ICE","SW","NFE"]
value=["Good","Importan in Modern life","can be grow with technoloy knowledge"]

for x in subjects:
  for y in value:
    print(x,y)

Csc Good
Csc Importan in Modern life
Csc can be grow with technoloy knowledge
EEE Good
EEE Importan in Modern life
EEE can be grow with technoloy knowledge
ICE Good
ICE Importan in Modern life
ICE can be grow with technoloy knowledge
SW Good
SW Importan in Modern life
SW can be grow with technoloy knowledge
NFE Good
NFE Importan in Modern life
NFE can be grow with technoloy knowledge

In [ ]:
for x in range(6,10,2):
  pass