

# Python variable/Comment/string/tuple/list/slicing

In [ ]:
a=22
print(a)

22

In [ ]:
b=2
x=a+b
print(x)

24

In [ ]:
p="Python is a programming language which is very popular for data science "
print(p)

Python is a programming language which is very popular for data science

In [ ]:
#Use comment for understanding easily(single line comment)
'''
Multiple line comment
Also use in oython
By thats way
'''

In [ ]:
print("Hi! this is Shahriar")

Hi! this is Shahriar

In [ ]:
x=str(457)
y=int(8787)
z=float(3232)
print(x,y,z)

457 8787 3232.0

In [ ]:
print(type(x))
print(type(y))
print(type(z))

<class 'str'>
<class 'int'>
<class 'float'>

In [ ]:
a="""Life is a quality that distinguishes
 matter that has biological processes,
  such as signaling and self-sustaining processes,
  from that which does not,
  and is defined by the capacity for growth,
   reaction to stimuli,
    metabolism, energy transformation,
    and reproduction."""
print(a)
b='''Life is a quality that distinguishes
 matter that has biological processes,
  such as signaling and self-sustaining processes,
   from that which does not,
   and is defined by the capacity for growth,
reaction to stimuli, metabolism,
energy transformation,
 and reproduction.'''

Life is a quality that distinguishes
 matter that has biological processes,
  such as signaling and self-sustaining processes,
  from that which does not,
  and is defined by the capacity for growth,
   reaction to stimuli,
    metabolism, energy transformation,
    and reproduction.

# Camel case,Pascal Case,Snake case

In [ ]:
myFirstName="Shahriar"
MyLastName="Rahman"
my_nick_name="Nobel"
print(myFirstName)
print(MyLastName)
print(my_nick_name)

Shahriar
Rahman
Nobel

#Variables

In [ ]:
a,b,c="car","Bike","boat"
print(a,b,c)
print(a)
print(b)
print(c)

car Bike boat
car
Bike
boat

In [ ]:
courses=["C","c++","Python","JS"]
a,b,c,d=courses
print(courses)
print(d)
print(c)

['C', 'c++', 'Python', 'JS']
JS
Python

In [ ]:
a="shahriar"
b="Rahman"
c="Nobel"
print(a,b, c)
print(a+b+c)

shahriar Rahman Nobel
shahriarRahmanNobel

# Types

In [ ]:
a="Nobel"
b=22
c=33.3
d=["c","c++","JS"]
e=("apple","Banana")
f={"age":33, "company":"ACI"}
g={"A","B","C"}
h=dict(name="NNN",age=77)
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))
print(type(h))
print(h)

<class 'str'>
<class 'int'>
<class 'float'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'dict'>
{'name': 'NNN', 'age': 77}

In [ ]:

x="Hi, How are you?"
print(x[2])
print(x[-4:-1])
print(x[4:7])
print(x[4:])
print(x.upper())
print(x.lower())
print(x.strip())
print(x)

,
you
How
How are you?
HI, HOW ARE YOU?
hi, how are you?
Hi, How are you?
Hi, How are you?

In [ ]:
x="Shahriar"
y="Rahman"
z="Nobel"
a=x+" "+y+" "+z
print(a)

Shahriar Rahman Nobel

In [ ]:
hours=15
minutes=59
seconds=53
working_time="Everyday i stydy {} hours {} minutes and {} seconds."
print(working_time.format(hours,minutes,seconds))

Everyday i stydy 15 hours 59 minutes and 53 seconds.

In [ ]:
m='It\'s \\me \n kkkk\r ajma hi that is a \b huge boss'
print(m)

It's \me
 ajma hi that is a  huge boss

# List

In [ ]:
course=["c","c++","JS","python"]
serial=[1,3,5,7]
boolean=[True,False,False,True]
different_way=list(("fruits","meat","vegetable"))
'''
del serial
'''
courses[0:1]=["C","C++"]
courses.insert(1,"HTML")
print(courses)
print(len(courses))
print(courses[1:3])
print(boolean[-1:-2])
print(courses)
'''
print(serial)
'''
print(boolean)
print(type(serial))
print(different_way)

['C', 'HTML', 'C++', 'c++', 'python', 'JS']
6
['HTML', 'C++']
[]
['C', 'HTML', 'C++', 'c++', 'python', 'JS']
[True, False, False, True]
<class 'list'>
['fruits', 'meat', 'vegetable']

In [ ]:
course=["c","c++","JS","python"]
course.reverse()
print(course)
course.sort()

print(course)

['python', 'JS', 'c++', 'c']
['JS', 'c', 'c++', 'python']

In [ ]:
thislist = ["apple", "banana", "cherry"]
del thislist[2]
print(thislist)

['apple', 'banana']

In [ ]:
fruits = ["orange", "mango", "kiwi", "pineapple", "banana"]
fruits.sort()

print(fruits)
fruits.sort(reverse=True)
print(fruits)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']
['pineapple', 'orange', 'mango', 'kiwi', 'banana']

# Tuple

In [ ]:
departments=("CSE","ICE","SWE","EEE")
print(type(departments))
print(departments)
print(len(departments))

<class 'tuple'>
('CSE', 'ICE', 'SWE', 'EEE')
4